<section class="mainbar">
	<section class="matter">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-md-offset-4">
					<div class="account-wall">
						<h1 class="text-center register-title">
							Register
						</h1>
						<form name="register" class="form-register" novalidate>
							<div class="form-group" ng-class="{'has-error' : register.$submitted && register.email.$invalid}">
								<input type="email" name="email" ng-model="vm.user.email" class="form-control" placeholder="Email Address" required autofocus="" />
						
								<div ng-messages="register.email.$error" ng-if="register.$submitted && register.email.$invalid" class="help-block">
									<div ng-message="required">Please enter a email</div>
									<div ng-message="email">Please enter a valid email</div>	
								</div>	
							</div>	
					
							<div class="form-group" ng-class="{'has-error' : register.$submitted && register.password.$invalid}">
								<input type="password" name="password" ng-model="vm.user.password" class="form-control" placeholder="Password" ng-minlength="6" ng-maxlength="29" required />
						
								<div ng-messages="register.password.$error" ng-if="register.$submitted && register.password.$invalid" class="help-block">
									<div ng-message="required">Please enter a password</div>
									<div ng-message="minlength">Password must be greater than 5 characters</div>
									<div ng-message="maxlength">Password must be less than 30 characters</div>	
								</div>	
							</div>		
					
							<div class="form-group" ng-class="{'has-error' : register.$submitted && register.passwordConfirm.$invalid}" >		
								<input type="password" name="passwordConfirm" ng-model="vm.user.passwordConfirm" class="form-control password-confirm"  placeholder="Confirm Password" same-as="vm.user.password" required/>
							
								<div ng-messages="register.passwordConfirm.$error" ng-if=" register.$submitted && register.passwordConfirm.$invalid" class="help-block">
									<div ng-message="required">Please enter a confirm password</div>
									<div ng-message="match">Passwords do not match</div>
								</div>
							</div>		
							
							<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register.$valid && vm.register()">Register</button>
							<button ng-click="vm.authenticate('facebook')" class="btn btn-lg btn-default btn-block" type="button">Facebook</button>			
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>